

body {
    color: black;
    font-size: 16px;

    font-family: 'Caveat', cursive;
    font-size: 20px;
    // max-height: 100vh;
    // overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    &__list {
        display: flex;
        gap: 30px;
        padding: 0;
    }

}

img {
    max-height: 160px;

    @media(max-width :600px){
        max-height: 120px;
    }

    @media(max-width :400px){
        max-height: 90px;
    }
}


.main {
    overflow: hidden;
    position: relative;
    /* background: red; */
    height: 100vh;
    width: 100vw;
    
}