.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

body {
    @extend %Roboto-400;
    font-size: 16px;
    line-height: 140%;
}

.ovalBtn {
    width: 298px;
    height: 54px;
    border-radius: 25px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    padding: 16px 0px;
    text-align: center;
    display: block;
    color: $white;
    text-transform: uppercase;
    @extend %Roboto-500;
}


.arrow {
    position: absolute;
    z-index: 5;
    top: calc(50% - 40px);
}

.arrow__left {
    left: -75px;
}

.arrow__right {
    right: -75px;
}



.big__title {
    font-size: 48px;
    line-height: 120%;
}

.h2__title {
    font-size: 48px;
    line-height: 120%;
}

.h3__title {
    font-size: 36px;
    line-height: 130%;
}

.subtitle {
    font-size: 24px;
    line-height: 120%;
}