@import "vars";
@import "fonts";
@import "reset";
@import "global";


.scale {


    &__container {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin: 0 auto;
        height: 27px;
        width: 915px;
        align-items: center;
        margin-bottom: 98px;
    }

    &__container::after {
        content: '';
        position: absolute;
        width: 976px;
        height: 27px;
        background-color: #404950;
        z-index: -99;
        left: calc(50% - 488px);
    }

    &__container::before {
        content: '';
        position: absolute;
        width: 915px;
        height: 3px;
        background: #72828E;
    }

    &__circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: yellow;

        position: relative;
    }

    &__circle-active::before {
        content: "";
        top: -8px;
        left: -7px;
        position: absolute;
        width: 25px;
        height: 25px;
        border: 2px solid #FE9013;
        border-radius: 50%;
        background: transparent;
    }

    &__circle-active::after {
        content: "";
        top: -15px;
        left: -15px;
        position: absolute;
        width: 42px;
        height: 40px;
        border: 2px solid #FE9013;
        border-radius: 50%;
        background: transparent;
    }


    &__item {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;
        cursor: pointer;
    }

    &__item>p {
        position: absolute;
        bottom: -58px;
        font-size: 26px;
        line-height: 140%;
    }
}

.header {
    position: absolute;
    background-color: $black;
    width: 100%;
    color: $white;

    &__logo {
        margin-right: 67px;
        color: $white;
    }

    &__box {
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }

    &__menu {
        display: flex;
        justify-content: flex-start;
        @extend %Roboto-500;
        width: 100%;
    }

    &__nav {
        width: 100%;
    }

    &__item {
        padding: 29px 0;
    }

    &__item+.header__item {
        margin-left: 58px;
    }

    &__link {
        color: $white;
    }

    &__link-active {
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__item-last.header__item {
        margin-left: auto;
    }


}

.header.header__donate {
    position: static;
}

.logo {
    padding: 3px 4px;
    text-align: center;
    border: 1.18841px solid #FFFFFF;
    position: relative;
    max-width: 82px;
    color: $white;

    &__title,
    .logo__subtitle {
        @extend %Roboto-400;
        font-size: 19px;
        line-height: 23px;
    }

    &::before {
        position: absolute;
        content: url(../images/logoImage.svg);
        left: 14px;
        bottom: 4px;
    }
}

.watchOnline {
    background-image: url(../images/header-bg.jpg);
    min-height: 780px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    &__span {
        color: $yellow;
    }

    &__box {
        padding-left: 57%;
        padding-top: 14%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        @extend %Roboto-700;
        color: $white;
        max-width: 500px;
        font-size: 106px;
        line-height: 75%;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 60px;
        position: relative;
        z-index: 1;
    }

    &__title::before {
        content: "";
        width: 465px;
        border-radius: 50%;
        position: absolute;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        height: 465px;
        z-index: -1;
        top: -70px;
        left: -64px;
    }

}


.theBackstage {
    margin-top: 140px;
    position: relative;

    &__box {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        margin-right: 87px;
        max-height: 403px;
    }

    &__title {
        margin-bottom: 20px;
        @extend %Roboto-400;
    }

    &__subtitle {
        margin-bottom: 34px;
        font-weight: 400;
    }

    &__path {
        margin-bottom: 54px;
    }

    &-decor {
        position: absolute;
        right: -8px;
        top: -128px;
    }

}


.pets {
    margin-top: 120px;
    position: relative;

    &__gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        margin-bottom: 70px;
        position: relative;
    }

    &__gallery-item__title {
        text-transform: uppercase;
    }

    &__gallery-item {
        border-radius: 7px;
        position: relative;
        cursor: pointer;

    }

    &__gallery-img__box {
        overflow: hidden;
    }

    &__gallery-item:hover .pets__gallery-item__img {
        border-radius: 5px 5px 0px 0px;
        transform: matrix(1.20, 0.00, 0.00, 1.20, 0, 0);
    }

    &__gallery-item:hover .pets__galerry-item__info {
        transform: translate(0);
    }

    &__gallery-item:hover.pets__gallery-item::before {
        bottom: -2px;
    }

    &__gallery-item__img {
        border-radius: 5px 5px 5px 5px;
        transition: transform .8s;
        position: relative;
    }

    &__gallery-item__subtitle {
        @extend %Roboto-300;
    }

    &__btn {
        margin: 0 auto 100px;
    }

    &__gallery-item::before {
        content: "";
        position: absolute;
        top: -3px;
        bottom: 58px;
        left: -2px;
        right: -2px;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        border-radius: 5px;
        z-index: -10;
        transition: all 1s;
    }



    &__galerry-item__info {
        padding: 8px 58px 8px 10px;
        position: relative;
        z-index: -5;
        background-color: $white;
        border-radius: 0 0 5px 5px;
        transition: all 1s;
        // transform: translate(0, -60px);
    }

    &__galerry-item__info::before {
        right: 11px;
        top: 10px;
    }

    &__galerry-item__info[data-food="vegan"]::before {
        content: url(../images/vegan.svg);
        position: absolute;
    }

    &__galerry-item__info[data-food="meat"]::before {
        content: url(../images/meat.svg);
        position: absolute;
    }

    &-decor {
        position: absolute;
    }

    &-decor-1 {
        left: 0;
        bottom: -100px;
    }

    &-decor-2 {
        right: 0;
        bottom: -100px;

    }
}


.feedFriend {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);

    padding: 70px 0 100px;

    &__box {
        border-radius: 20px;
        background: rgba(253, 253, 255, 0.52);
        backdrop-filter: blur(2px);
        padding-bottom: 60px;
    }

    &__info-box {
        margin-left: 100px;
    }

    &__title {
        padding-top: 40px;
        color: #FE9013;
        @extend %Roboto-400;
        margin-bottom: 30px;
        text-align: center;
    }

    &__title-2 {
        margin-bottom: 10px;
        text-align: center;
        @extend %Roboto-400;
    }

    &__subtitle {
        margin-bottom: 40px;
    }

    &__text {
        @extend %Roboto-500;
        text-align: left;
        margin-bottom: 10px;
    }

    &__text-2 {
        @extend %Roboto-400;
        text-align: left;
        max-width: 863px;
        margin-bottom: 58px;
    }

    &__btn {
        margin: 0 auto;
    }

    &__steps {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 33px;
    }

    &__step {
        padding: 30px;
        text-align: left;
        position: relative;
    }

    &__step2 {
        margin: 0 -98px;
    }

    &__step-img1 {
        background-color: $white;
        padding: 54px 30px;
    }

    &__step-img {
        margin-bottom: 30px;
        border-radius: 5px;
    }

    &__step::before {
        content: "";
        position: absolute;
        top: 28px;
        bottom: 102px;
        left: 28px;
        right: 28px;
        background: rgb(254, 210, 144);
        background: linear-gradient(135deg, rgba(254, 210, 144, 1) 70%, rgba(254, 210, 144, 1) 70%, rgba(254, 189, 171, 1) 100%);
        border-radius: 5px;
        z-index: -10;
    }

    &__step-img2 {
        background-color: $white;
        padding: 38px 41px 35px 41px;
    }

    &__step-img3 {
        background-color: $white;
        padding: 48px 21px;
    }

    &__step-text {
        max-width: 168px;
    }


    &__text-link {
        color: inherit;
        border-bottom: 1px solid #FE9013;
        padding-bottom: 5px;
    }

}

.feedFriend {
    &__title-donate {
        color: $white;
    }

    &-bg {
        width: 100%;
        margin-bottom: 40px;
  
    }

    &__title-donate {
        letter-spacing: -2.1px;
        margin-bottom: 10px;
    }

    &-donate {
        padding: 0;
        color: $white;
        padding-bottom: 180px;
    }

    &__text-donate {
        text-shadow: 1px 1px black;
        margin-bottom: 46px;
    }

    &__donation-title {
        color: #FE9013;
        margin-bottom: 60px;
    }

    &__box-donate {
        color: #333B41;
    }

    &__diesForDay-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 41px;
    }

    &__counter {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 174px;
        
    }

    &-number {
        font-size: 72px;
        line-height: 57px;
       
    }

   
    &__x {
        margin: 0 30px;
    }

    &__subtitle-donate {
        margin-bottom: 98px;
    }

    &__diesImg {
        margin-left: 82px;
        margin-right: 137px;
    }
}



.testimonials {
    font-size: 15px;
    line-height: 18px;
    position: relative;


    &__title {
        padding: 134px 0 28px;
        text-align: center;
    }

    &__item {
        background: #fff;
        width: 268px;
        padding: 15px 15px 19px 16px;
        position: relative;
        border-radius: 20px;
        display: inline-block;
        white-space: normal;
        margin: 15px 13px;
        height: 400px;
    }


    &__item::before {
        content: '';
        position: absolute;
        background: rgb(254, 189, 171);
        background: linear-gradient(305deg, rgba(254, 189, 171, 1) 35%, rgba(243, 169, 248, 1) 66%, rgba(224, 216, 240, 1) 100%, rgba(234, 247, 254, 1) 100%, rgba(234, 247, 254, 1) 100%);
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        z-index: -10;
        border-radius: 20px;
    }

    &__head {
        display: flex;
        margin-bottom: 10px;
    }

    &__avatar {
        margin-right: 10px;

    }

    &__name {
        display: block;
    }

    &__location {
        display: inline-block;
    }

    &__date {
        display: inline-block;
    }

    &__text {
        height: 309px;
        overflow: hidden;
    }

    &__box {
        white-space: nowrap;

    }

    input[type=range] {
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 600px;
        height: 8px;
        position: relative;
        border-radius: 5px;
        display: block;
        margin: 0 auto 32px;
        cursor: pointer;
    }

    input[type=range]::before {
        content: '';
        position: absolute;
        background: rgb(254, 189, 171);
        background: linear-gradient(305deg, rgba(254, 189, 171, 1) 35%, rgba(243, 169, 248, 1) 66%, rgba(224, 216, 240, 1) 100%, rgba(234, 247, 254, 1) 100%, rgba(234, 247, 254, 1) 100%);
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        z-index: -10;
        border-radius: 5px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 115px;
        height: 6px;
        background-color: #FE9013;
        border-radius: 5px;
    }

    input[type=range]::-moz-range-track {
        -moz-appearance: none;
        width: 600px;
        height: 8px;
        position: relative;
        border-radius: 5px;
        display: block;
        margin: 0 auto 32px;
    }


    input[type=range]::-moz-range-thumb {
        -moz-appearance: none;
        width: 115px;
        height: 6px;
        background-color: #FE9013;
        border-radius: 5px;
    }

    &__btn {
        border-radius: 5px;
        margin-bottom: 180px;
    }

    &__decor {
        position: absolute;
        bottom: -314px;
        right: -16px;
    }
}


.footer {
    background-color: #111115;
    padding: 41px 0 50px;
    color: $white;

    a {
        color: inherit;
    }

    &__btn {
        border-radius: 5px;
        margin-bottom: 42px;
    }

    &__nav {
        min-height: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }

    &__menu {
        display: flex;
        justify-content: space-around;
    }

    &__logo {
        margin-bottom: 68px;
    }

    &__column {
        display: flex;
        flex-direction: column;
    }

    &__column-form {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-left: 10px;
    }

    &__form-title {
        margin-bottom: 14px;
    }

    &__autor {
        align-self: flex-end;
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__form-email__label {

        position: relative;
        padding: 5px;
        background-clip: padding-box;
        border-radius: 5px;
        background: transparent;
    }

    &__form-email__input {
        width: 228px;
        height: 42px;
        background-color: #111115;
        z-index: 30;
        border: 0;
        position: relative;
        border-radius: 2px;
        color: $white;
        padding: 10px 7px 10px 10px;
        border: 2px solid transparent;
        outline: 0;
        outline-offset: 0;
    }

    .footer__form>label>input:focus .footer__form>label::before {
        background: red;
        color: red;
    }


    &__form-email__input::placeholder {
        padding: 10px 7px 10px 10px;
    }

    &__form-email__label-inactive::before {
        content: "";
        position: absolute;
        top: -9px;
        right: 8px;
        bottom: -9px;
        left: 4px;
        background: rgb(249, 128, 75);
        background: linear-gradient(305deg, rgba(249, 128, 75, 1) 100%, rgba(254, 144, 19, 1) 100%);
        z-index: 11;
        border-radius: 2px;
    }

    &__form-email__label-focused::before {
        content: "";
        position: absolute;
        top: -9px;
        right: 7px;
        bottom: -9px;
        left: 3px;
        background: green;
        z-index: 11;
        border-radius: 3px;
    }

    &__form-btn {
        width: 129px;
        height: 42px;
        border: 1px solid $red;
        color: $red;
        border-radius: 5px;
        cursor: pointer;
    }

    &__form-btn-default {
        width: 129px;
        height: 42px;
        border: 1px solid $black;
        color: $black;
        border-radius: 5px;
        cursor: pointer;
    }

    &__link-active {
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__autor:hover>p {
        color: green;
        transition: all .5s;
        cursor: pointer;
    }
}

.social {
    &__item {
        display: flex;
        flex-direction: column;

    }

    &__item+.social__item {
        margin-top: 10px;
    }

    &__text {
        transition: all .5s;
    }

    &__item-svg {
        margin-right: 14px;
    }

    &__item:hover .social__text {
        color: green;
    }

    &__item:hover svg circle {
        fill: green;
        transition: all .5s;
    }

    &__link {
        display: flex;
        align-items: center;
    }


}

.donate__form {
    margin: 0 auto;
    max-width: 300px;
    text-align: center;

    &-input {
        width: 268px;
        height: 54px;
        border: 1px solid #929699;
        border-radius: 2px;
        margin-bottom: 25px;
    }

    &-input-box {
        margin-bottom: 31px;
    }

    &-btn {
        margin-bottom: 30px;
    }
}

@import "media";