@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
    position: absolute;
    background-color: $black;
    width: 100%;
    color: $white;

    &__logo {
        margin-right: 67px;
        color: $white;
    }

    &__box {
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }

    &__menu {
        display: flex;
        justify-content: space-between;
        @extend %Roboto-500;

    }

    &__item {
        padding: 29px 0;
    }

    &__item+.header__item {
        margin-left: 58px;
    }

    &__link {
        color: $white;
    }
}

.logo {
    padding: 3px 4px;
    text-align: center;
    border: 1.18841px solid #FFFFFF;
    position: relative;


    &__title,
    .logo__subtitle {
        @extend %Roboto-400;
        font-size: 19px;
        line-height: 23px;
    }

    &::before {
        position: absolute;
        content: url(../images/logoImage.svg);
        left: 14px;
        bottom: 4px;
    }
}

.watchOnline {
    background-image: url(../images/header-bg.jpg);
    min-height: 780px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    &__span {
        color: $yellow;
    }

    &__box {
        padding-left: 57%;
        padding-top: 14%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        @extend %Roboto-700;
        color: $white;
        max-width: 500px;
        font-size: 106px;
        line-height: 75%;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 60px;
        position: relative;
        z-index: 1;
    }

    &__title::before {
        content: "";
        width: 465px;
        border-radius: 50%;
        position: absolute;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        height: 465px;
        z-index: -1;
        top: -70px;
        left: -64px;
    }

}


.theBackstage {
    margin-top: 140px;

    &__box {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        margin-right: 87px;
        max-height: 403px;
    }

    &__title {
        margin-bottom: 20px;
        @extend %Roboto-400;
    }

    &__subtitle {
        margin-bottom: 34px;
    }

    &__path {

        margin-bottom: 54px;
    }

}


.pets {
    margin-top: 120px;

    &__gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        margin-bottom: 70px;
        position: relative;
    }

    &__gallery-item__title {
        text-transform: uppercase;
    }

    &__gallery-item {
        border-radius: 7px;
        position: relative;
    }

    &__gallery-item__img {
        border-radius: 5px 5px 0 0;
    }

    &__gallery-item__subtitle {
        @extend %Roboto-300;
    }

    &__btn {
        margin: 0 auto;
    }

    &__gallery-item::before {
        content: "";
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        background: $pink__gradient;
        border-radius: 5px;
        z-index: -1;
    }

    &__galerry-item__info {
        padding: 8px 58px 8px 10px;
        position: relative;
        z-index: 1;
        background-color: $white;
        border-radius: 0 0 5px 5px;
    }

    &__galerry-item__info::before {
        right: 11px;
        top: 10px;
    }

    &__galerry-item__info[data-food="vegan"]::before {
        content: url(../images/vegan.svg);
        position: absolute;
    }

    &__galerry-item__info[data-food="meat"]::before {
        content: url(../images/meat.svg);
        position: absolute;
    }

}

@import "media";