.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

body {
    @extend %Roboto-400;
    font-size: 16px;
    line-height: 140%;
}

.once {
    margin-left: 18px;
}



.ovalBtn {
    width: 298px;
    height: 54px;
    border-radius: 25px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    padding: 16px 0px;
    text-align: center;
    display: block;
    color: $white;
    text-transform: uppercase;
    @extend %Roboto-500;
}



.ovalBtn:hover {
    background: linear-gradient(113.96deg, #d86f42 1.49%, #da7c11 101.44%);
}


.arrow {
    position: absolute;
    top: 42%;
    z-index: 99;
    background: transparent;


    @media(max-width : 1000px){
        top: 41.5%;
    } 

    @media(max-width : 850px){
        top: 40.5%;
    }
    @media(max-width : 700px){
        top: 39.5%;
    }
    @media(max-width : 640px){
        top: 42%;
    }

    @media(max-width : 600px){
        display: none;
    }
}

.arrow-active svg circle {

    fill: green;
    transform: translate(0) !important;
    cursor: default;
    stroke: green;
}





.arrow__left {
    left: -88px;

    @media(max-width: 1355px){
        left: 35%;
    }
    @media(max-width: 1000px){
        left: 34.5%;
    }

    @media(max-width: 640px){
        left: 36.5%;
    }
}

.arrow__right {
    right: -88px;
    @media(max-width: 1355px){
        right: 35%;
    }
    @media(max-width: 1000px){
        right: 34.5%;
    }

    @media(max-width: 640px){
        right: 36.5%;
    }
}



.big__title {
    font-size: 48px;
    line-height: 120%;
}

.h2__title {
    font-size: 48px;
    line-height: 120%;
    @extend %Roboto-400;
}

.h3__title {
    font-size: 36px;
    line-height: 130%;
    @extend %Roboto-400;
}

.subtitle {
    font-size: 24px;
    line-height: 120%;
}





.arrow__left svg circle {
    transition: all 1s;
}

.arrow__left svg:hover {
    transform: translate(4px, 0);
}

.arrow__left svg:hover circle {
    transform: translate(68px, 0px);
}

.arrow__left svg:hover path {
    // transform: scale(2) translate(-25px, -15px);
    stroke: #d86f42;
    transition: all 1s;
    transform: scale(2) translate(-20px, -15px);
}



.arrow__right svg circle {
    transition: all 1s;
}

.arrow__right svg:hover {
    transform: translate(4px, 0);

}

.arrow__right svg:hover circle {
    transform: translate(-68px, 0px);
}

.arrow__right svg:hover path {
    // transform: scale(2) translate(-25px, -15px);
    stroke: #d86f42;
    transition: all 1s;
    transform: scale(2) translate(-9px, -15px);
}