.watchOnline__title {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}

.feedFriend__text-2, .feedFriend__title-2, .feedFriend__title, .theBackstage__title, .logo__title,
.logo .logo__subtitle, .h3__title, .h2__title, body {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}

.feedFriend__text, .header__menu, .ovalBtn {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2") url("../fonts/Roboto-Bold.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Light", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local("Roboto-Light"), url("../fonts/Roboto-Light.woff2") format("woff2") url("../fonts/Roboto-Light.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Roboto-Medium"), url("../fonts/Roboto-Medium.woff2") format("woff2") url("../fonts/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2") url("../fonts/Roboto-Regular.woff") format("woff");
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: 0;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

a[class] {
  text-decoration: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-size: 16px;
  line-height: 140%;
}

.once {
  margin-left: 18px;
}

.ovalBtn {
  width: 298px;
  height: 54px;
  border-radius: 25px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  padding: 16px 0px;
  text-align: center;
  display: block;
  color: #ffffff;
  text-transform: uppercase;
}

.ovalBtn:hover {
  background: linear-gradient(113.96deg, #d86f42 1.49%, #da7c11 101.44%);
}

.arrow {
  position: absolute;
  z-index: 5;
  top: calc(50% - 35px);
  cursor: pointer;
  border: 0;
  background: transparent;
}

.arrow-active svg circle {
  fill: green;
  transform: translate(0) !important;
  cursor: default;
  stroke: green;
}

.arrow__left {
  left: -88px;
}
@media (max-width: 1001px) {
  .arrow__left {
    left: 337px;
  }
}

.arrow__right {
  right: -88px;
}
@media (max-width: 1001px) {
  .arrow__right {
    right: 318px;
  }
}

.big__title {
  font-size: 48px;
  line-height: 120%;
}

.h2__title {
  font-size: 48px;
  line-height: 120%;
}

.h3__title {
  font-size: 36px;
  line-height: 130%;
}

.subtitle {
  font-size: 24px;
  line-height: 120%;
}

.arrow__left svg circle {
  transition: all 1s;
}

.arrow__left svg:hover {
  transform: translate(4px, 0);
}

.arrow__left svg:hover circle {
  transform: translate(68px, 0px);
}

.arrow__left svg:hover path {
  stroke: #d86f42;
  transition: all 1s;
  transform: scale(2) translate(-20px, -15px);
}

.arrow__right svg circle {
  transition: all 1s;
}

.arrow__right svg:hover {
  transform: translate(4px, 0);
}

.arrow__right svg:hover circle {
  transform: translate(-68px, 0px);
}

.arrow__right svg:hover path {
  stroke: #d86f42;
  transition: all 1s;
  transform: scale(2) translate(-9px, -15px);
}

.scale__container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  height: 27px;
  width: 915px;
  align-items: center;
  margin-bottom: 98px;
}
.scale__container::after {
  content: "";
  position: absolute;
  width: 976px;
  height: 27px;
  background-color: #404950;
  z-index: -99;
  left: calc(50% - 488px);
}
.scale__container::before {
  content: "";
  position: absolute;
  width: 915px;
  height: 3px;
  background: #72828E;
}
.scale__price--active {
  color: #FE9013;
}
.scale__circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: yellow;
  position: relative;
}
.scale__circle::before {
  content: "";
  width: 50px;
  left: -19px;
  top: -19px;
  position: absolute;
  z-index: 999;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}
.scale__circle-active::before {
  content: "";
  top: -8px;
  left: -7px;
  position: absolute;
  width: 25px;
  height: 25px;
  border: 2px solid #FE9013;
  border-radius: 50%;
  background: transparent;
}
.scale__circle-active::after {
  content: "";
  top: -15px;
  left: -15px;
  position: absolute;
  width: 42px;
  height: 40px;
  border: 2px solid #FE9013;
  border-radius: 50%;
  background: transparent;
}
.scale__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}
.scale__item > p {
  position: absolute;
  bottom: -58px;
  font-size: 26px;
  line-height: 140%;
}

.header {
  position: absolute;
  background-color: #000000;
  width: 100%;
  color: #ffffff;
}
@media (max-width: 1001px) {
  .header {
    z-index: 99;
  }
}
.header__logo {
  margin-right: 67px;
  color: #ffffff;
}
.header__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1001px) {
  .header__box {
    padding: 0 20px;
  }
}
.header__menu {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.header__nav {
  width: 100%;
}
.header__item {
  padding: 26px 0;
}
.header__item + .header__item {
  margin-left: 58px;
}
@media (max-width: 1001px) {
  .header__item + .header__item {
    margin-left: 48px;
  }
}
.header__link {
  color: #ffffff;
  display: block;
  transition: all 0.5s;
}
.header__link:not(.header__link-active):hover {
  color: #ffc3a8;
  border-bottom: 1px solid #ffc3a8;
  padding-bottom: 5px;
  transform: scale(1.1);
}
.header__link-active {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  border-bottom: 1px solid #ffc3a8;
  padding-bottom: 5px;
}
.header__item-last.header__item {
  margin-left: auto;
}

.header.header__donate {
  position: static;
}

.logo {
  padding: 3px 4px;
  text-align: center;
  border: 1.18841px solid #FFFFFF;
  position: relative;
  max-width: 82px;
  color: #ffffff;
}
.logo__title,
.logo .logo__subtitle {
  font-size: 19px;
  line-height: 23px;
}
.logo::before {
  position: absolute;
  content: url(../images/logoImage.svg);
  left: 14px;
  bottom: 4px;
}

.watchOnline {
  background-image: url(../images/header-bg.jpg);
  max-height: 781px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1001px) {
  .watchOnline {
    max-height: 584px;
  }
}
.watchOnline a.ovalBtn {
  margin-bottom: 100px;
}
@media (max-width: 1001px) {
  .watchOnline a.ovalBtn {
    margin-right: 36px;
  }
}
.watchOnline__span {
  color: #FFEE2E;
  letter-spacing: -5px;
}
.watchOnline__box {
  padding-left: 57%;
  padding-top: 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1001px) {
  .watchOnline__box {
    padding-left: 50%;
    padding-top: 13%;
  }
}
.watchOnline__title {
  color: #ffffff;
  max-width: 500px;
  font-size: 106px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 68px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1001px) {
  .watchOnline__title {
    font-size: 85px;
    line-height: 63px;
    padding-right: 30px;
    padding-bottom: 42px;
  }
}
.watchOnline__title::before {
  content: "";
  width: 465px;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  height: 465px;
  z-index: -1;
  top: -70px;
  left: -72px;
}
@media (max-width: 1001px) {
  .watchOnline__title::before {
    width: 367px;
    height: 367px;
    top: -55px;
    left: -37px;
  }
}

.theBackstage {
  margin-top: 140px;
  position: relative;
}
@media (max-width: 1001px) {
  .theBackstage {
    margin-top: 108px;
  }
}
.theBackstage__box {
  display: flex;
  justify-content: space-between;
}
.theBackstage__img-desctop {
  display: none;
}
.theBackstage__img {
  margin-right: 87px;
  max-height: 403px;
}
@media (max-width: 1001px) {
  .theBackstage__img-main {
    display: none;
  }
  .theBackstage__img-desctop {
    display: block;
    max-width: 454px;
    margin: 0 33px 0 19px;
    max-height: 409px;
  }
}
.theBackstage__title {
  margin-bottom: 20px;
}
@media (max-width: 1001px) {
  .theBackstage__title {
    margin-bottom: 9px;
  }
}
.theBackstage__subtitle {
  margin-bottom: 34px;
  font-weight: 400;
}
.theBackstage__path {
  margin-bottom: 54px;
}
.theBackstage-decor {
  position: absolute;
  right: 0;
  top: -128px;
}
@media (max-width: 1001px) {
  .theBackstage-decor {
    display: none;
  }
}
.theBackstage__text {
  max-width: 446px;
}
@media (max-width: 1001px) {
  .theBackstage__text {
    max-width: 439px;
  }
}

.pets {
  margin-top: 120px;
  position: relative;
}
.pets__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 80px;
  grid-column-gap: 30px;
  position: relative;
  grid-row-gap: 21px;
}
@media (max-width: 1001px) {
  .pets__gallery {
    justify-items: end;
    grid-row-gap: 86px;
  }
}
.pets__gallery-item__title {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.pets__gallery-item {
  border-radius: 7px;
  position: relative;
  cursor: pointer;
}
.pets__gallery-img__box {
  overflow: hidden;
  position: relative;
  transition: opacity 3s;
}
.pets__gallery-item:hover .pets__gallery-img__box::before {
  opacity: 1;
}
.pets__gallery-img__box::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.665);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  transition: all 1s;
}
.pets__gallery-item:hover .pets__gallery-img__text {
  transform: translateY(-200px);
}
.pets__gallery-item:hover .pets__gallery-item__img {
  border-radius: 5px 5px 0px 0px;
  transform: matrix(1.2, 0, 0, 1.2, 0, 0);
  transition: all 1.5s;
}
.pets__gallery-item__img {
  border-radius: 5px 5px 5px 5px;
  transition: transform 0.8s;
  position: relative;
}
.pets__gallery-img__text {
  position: absolute;
  color: #fff;
  transition: all 1s;
  z-index: 9999;
  padding: 0 10px;
}
.pets__gallery-item__subtitle {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}
.pets__btn {
  margin: 0 auto 100px;
}
@media (max-width: 1001px) {
  .pets__btn {
    margin: 0px auto 140px;
  }
}
.pets__gallery-item::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  z-index: -10;
  transition: all 1s;
}
.pets__galerry-item__info {
  padding: 7px 58px 12px 14px;
  position: relative;
  z-index: -5;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
}
.pets__galerry-item__info::before {
  right: 11px;
  top: 10px;
}
.pets__galerry-item__info[data-food=vegan]::before {
  content: url(../images/vegan.svg);
  position: absolute;
}
.pets__galerry-item__info[data-food=meat]::before {
  content: url(../images/meat.svg);
  position: absolute;
}
.pets-decor {
  position: absolute;
}
.pets-decor-1 {
  left: 0px;
  bottom: -100px;
}
@media (max-width: 1001px) {
  .pets-decor-1 {
    display: none;
  }
  .pets-decor-1--desctop {
    display: block;
    left: 0;
    bottom: -139px;
  }
}
.pets-decor-1--desctop {
  display: none;
}
.pets-decor-2 {
  right: 0;
  bottom: -100px;
}
@media (max-width: 1001px) {
  .pets-decor-2 {
    right: -17px;
    bottom: -140px;
    max-width: 241px;
  }
}

.feedFriend {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding: 70px 0 100px;
}
@media (max-width: 1001px) {
  .feedFriend {
    padding: 31px 0 48px;
  }
}
.feedFriend__box {
  border-radius: 20px;
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding-bottom: 60px;
}
@media (max-width: 1001px) {
  .feedFriend__box {
    padding-bottom: 0px;
  }
}
.feedFriend__info-box {
  margin-left: 100px;
}
@media (max-width: 1001px) {
  .feedFriend__info-box {
    margin-left: 69px;
  }
}
.feedFriend__title {
  padding-top: 40px;
  color: #FE9013;
  margin-bottom: 34px;
  text-align: center;
}
@media (max-width: 1001px) {
  .feedFriend__title {
    padding-top: 30px;
    margin-bottom: 23px;
  }
}
.feedFriend__title-2 {
  margin-bottom: 10px;
  text-align: center;
}
.feedFriend__subtitle {
  margin-bottom: 37px;
  letter-spacing: -0.3px;
}
@media (max-width: 1001px) {
  .feedFriend__subtitle {
    margin-left: 0px;
    margin-bottom: 18px;
  }
}
.feedFriend__text {
  text-align: left;
  margin-bottom: 8px;
}
@media (max-width: 1001px) {
  .feedFriend__text {
    margin-bottom: 6px;
  }
}
.feedFriend__text-2 {
  text-align: left;
  max-width: 863px;
  margin-bottom: 58px;
}
@media (max-width: 1001px) {
  .feedFriend__text-2 {
    margin-bottom: 39px;
  }
}
.feedFriend__btn {
  margin: 0 auto;
}
.feedFriend__steps {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.feedFriend__step {
  padding: 30px;
  text-align: left;
  position: relative;
}
.feedFriend__step:nth-child(-n+2)::after {
  content: url(../images/peekFreind-arrow.svg);
  position: absolute;
  top: 30%;
  right: -70px;
}
.feedFriend__step2 {
  margin: 0 -98px;
}
@media (max-width: 1001px) {
  .feedFriend__step2 {
    margin: 0px -32px 0 -18px;
  }
}
.feedFriend__step-img1 {
  background-color: #ffffff;
  padding: 54px 30px;
}
.feedFriend__step-img {
  margin-bottom: 30px;
  border-radius: 5px;
}
.feedFriend__step::before {
  content: "";
  position: absolute;
  top: 28px;
  bottom: 102px;
  left: 28px;
  right: 28px;
  background: rgb(254, 210, 144);
  background: linear-gradient(135deg, rgb(254, 210, 144) 70%, rgb(254, 210, 144) 70%, rgb(254, 189, 171) 100%);
  border-radius: 5px;
  z-index: -10;
}
.feedFriend__step-img2 {
  background-color: #ffffff;
  padding: 38px 41px 35px 41px;
}
.feedFriend__step-img3 {
  background-color: #ffffff;
  padding: 48px 21px;
}
.feedFriend__step-text {
  max-width: 168px;
}
.feedFriend__text-link {
  color: inherit;
  border-bottom: 1px solid #FE9013;
  padding-bottom: 5px;
}

.feedFriend__title-donate {
  color: #ffffff;
}
.feedFriend-bg {
  width: 100%;
  margin-bottom: 40px;
  max-height: 386px;
}
.feedFriend__pick {
  margin-bottom: 24px;
  padding-top: 37px;
}
.feedFriend__title-donate {
  letter-spacing: -1.6px;
  margin-bottom: 10px;
}
.feedFriend-donate {
  padding: 0;
  color: #ffffff;
  padding-bottom: 182px;
}
.feedFriend__text-donate {
  margin-bottom: 46px;
  max-width: 96%;
  font-size: 16px !important;
}
.feedFriend__donation-title {
  color: #FE9013;
  margin-bottom: 60px;
}
.feedFriend__donation-title span {
  letter-spacing: 1.5px;
}
.feedFriend__box-donate {
  color: #333B41;
}
.feedFriend__diesForDay-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 41px;
}
.feedFriend__counter {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 174px;
  position: relative;
}
.feedFriend__counter::before {
  content: "X";
  position: absolute;
  right: -18px;
  bottom: 39px;
}
.feedFriend-number {
  font-size: 72px;
  line-height: 57px;
  margin-bottom: 10px;
}
.feedFriend__subtitle-donate {
  margin-bottom: 105px;
}
.feedFriend__diesImg {
  margin-left: 82px;
  margin-right: 137px;
}

.testimonials {
  font-size: 15px;
  line-height: 18px;
  position: relative;
}
.testimonials__title {
  padding: 139px 0 32px;
  letter-spacing: 1.1px;
  text-align: center;
}
.testimonials__item {
  background: #fff;
  width: 268px;
  padding: 16px 15px 17px 16px;
  position: relative;
  border-radius: 20px;
  display: inline-block;
  white-space: normal;
  margin: 15px 0px;
  height: 388px;
}
.testimonials__item::before {
  content: "";
  position: absolute;
  background: rgb(254, 189, 171);
  background: linear-gradient(305deg, rgb(254, 189, 171) 35%, rgb(243, 169, 248) 66%, rgb(224, 216, 240) 100%, rgb(234, 247, 254) 100%, rgb(234, 247, 254) 100%);
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -10;
  border-radius: 20px;
}
.testimonials__head {
  display: flex;
  margin-bottom: 10px;
}
.testimonials__avatar {
  margin-right: 10px;
}
.testimonials__name {
  display: block;
}
.testimonials__location {
  display: inline-block;
}
.testimonials__date {
  display: inline-block;
}
.testimonials__text {
  height: 309px;
  overflow: hidden;
}
.testimonials__box {
  white-space: nowrap;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.testimonials input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 600px;
  height: 8px;
  position: relative;
  border-radius: 5px;
  display: block;
  margin: 0 auto 32px;
  cursor: pointer;
}
.testimonials input[type=range]::before {
  content: "";
  position: absolute;
  background: rgb(254, 189, 171);
  background: linear-gradient(305deg, rgb(254, 189, 171) 35%, rgb(243, 169, 248) 66%, rgb(224, 216, 240) 100%, rgb(234, 247, 254) 100%, rgb(234, 247, 254) 100%);
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -10;
  border-radius: 5px;
}
.testimonials input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 115px;
  height: 6px;
  background-color: #FE9013;
  border-radius: 5px;
}
.testimonials input[type=range]::-moz-range-track {
  -moz-appearance: none;
  width: 600px;
  height: 8px;
  position: relative;
  border-radius: 5px;
  display: block;
  margin: 0 auto 32px;
}
.testimonials input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  width: 115px;
  height: 6px;
  background-color: #FE9013;
  border-radius: 5px;
}
.testimonials__btn {
  border-radius: 5px;
  margin-bottom: 177px;
}
.testimonials__decor {
  position: absolute;
  bottom: -312px;
  right: 0;
}

.footer {
  background-color: #111115;
  padding: 38px 0 50px;
  color: #ffffff;
}
.footer a {
  color: inherit;
}
.footer__btn {
  border-radius: 5px;
  margin-bottom: 45px;
}
.footer__nav {
  min-height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.footer__menu {
  display: flex;
  justify-content: space-around;
}
.footer__logo {
  margin-bottom: 68px;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 10px;
}
.footer__form-title {
  margin-bottom: 14px;
  letter-spacing: -1px;
  margin-left: 8px;
}
.footer__autor {
  align-self: flex-end;
}
.footer__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer__form-email__label {
  position: relative;
  padding: 5px;
  background-clip: padding-box;
  border-radius: 5px;
  background: transparent;
}
.footer__form-email__input {
  width: 228px;
  height: 42px;
  background-color: #111115;
  z-index: 30;
  border: 0;
  position: relative;
  border-radius: 2px;
  color: #ffffff;
  padding: 10px 7px 10px 10px;
  border: 2px solid transparent;
  outline: 0;
  outline-offset: 0;
  margin-left: 5px;
}
.footer .footer__form > label > input:focus .footer__form > label::before {
  background: red;
  color: red;
}
.footer__form-email__input::-moz-placeholder {
  padding: 10px 7px 10px 0px;
}
.footer__form-email__input:-ms-input-placeholder {
  padding: 10px 7px 10px 0px;
}
.footer__form-email__input::placeholder {
  padding: 10px 7px 10px 0px;
}
.footer__form-email__label-inactive::before {
  content: "";
  position: absolute;
  top: -9px;
  right: 8px;
  bottom: -10px;
  left: 8px;
  background: rgb(249, 128, 75);
  background: linear-gradient(305deg, rgb(249, 128, 75) 100%, rgb(254, 144, 19) 100%);
  z-index: 11;
  border-radius: 2px;
}
.footer__form-email__label-focused::before {
  content: "";
  position: absolute;
  top: -9px;
  right: 7px;
  bottom: -10px;
  left: 8px;
  background: green;
  z-index: 11;
  border-radius: 3px;
}
.footer__link {
  display: block;
  transition: all 0.5s;
}
.footer__link:hover {
  color: #ffc3a8;
  border-bottom: 1px solid #ffc3a8;
  padding-bottom: 5px;
  transform: scale(1.1);
}
.footer__form-btn {
  width: 129px;
  height: 42px;
  border: 1px solid #D31414;
  color: #D31414;
  border-radius: 5px;
  cursor: pointer;
}
.footer__form-btn-default {
  width: 129px;
  height: 42px;
  border: 1px solid #000000;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
}
.footer__link-active {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  border-bottom: 1px solid #ffc3a8;
  padding-bottom: 5px;
}
.footer__autor:hover > p {
  color: green;
  transition: all 0.5s;
  cursor: pointer;
}
.footer__autor p:nth-child(2) {
  margin-top: 15px;
}

.social__item {
  display: flex;
  flex-direction: column;
}
.social__item + .social__item {
  margin-top: 10px;
}
.social__text {
  transition: all 0.5s;
}
.social__item-svg {
  margin-right: 14px;
}
.social__item:hover .social__text {
  color: green;
}
.social__item:hover svg circle {
  fill: green;
  transition: all 0.5s;
}
.social__link {
  display: flex;
  align-items: center;
}

.donate__form {
  margin: 0 auto;
  max-width: 300px;
  text-align: center;
}
.donate__form-input {
  width: 268px;
  height: 54px;
  border: 1px solid #929699;
  border-radius: 2px;
  margin-bottom: 25px;
  position: relative;
  background: transparent;
}
.donate__form-input::-moz-placeholder {
  padding-left: 10px;
}
.donate__form-input:-ms-input-placeholder {
  padding-left: 10px;
}
.donate__form-input::placeholder {
  padding-left: 10px;
}
.donate__form-input-box {
  margin-bottom: 31px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.donate__form-input__label--number {
  position: relative;
}
.donate__form-input__label--number::before {
  content: url(../images/dollar.svg);
  position: absolute;
  z-index: 99;
  top: 0;
  right: 10px;
}
.donate__form-btn {
  margin-bottom: 30px;
}
.donate__form-radio__input {
  display: none;
}
.donate__form-input__label {
  position: relative;
  cursor: pointer;
}
.donate__form-input__label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 1px solid #FE9013;
  border-radius: 50%;
  left: -23px;
  top: 0;
}
.donate__form-radio__input:checked + .donate__form-input__label::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: -23px;
  top: 0px;
  background: #4B9200;
  border-radius: 50%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.amount {
  margin-bottom: 24px;
}

input[type=number] {
  -moz-appearance: textfield;
}

@-moz-document url-prefix() {
  .donate__form-radio__input:checked + .donate__form-input__label::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: -21px;
    top: 2px;
    background: #FE9013;
    border: 1px solid #FE9013;
    border-radius: 50%;
  }
}/*# sourceMappingURL=style.css.map */