@import "vars";
@import "fonts";
@import "reset";
@import "global";


.scale {
    &__container {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin: 0 auto;
        height: 27px;
        width: 915px;
        align-items: center;
        margin-bottom: 98px;

        @media(max-width : 1050px) {
            width: 787px;
        }

        @media(max-width : 850px) {
            width: 533px;
        }

        @media(max-width : 635px) {
            width: 409px;
        }

        @media(max-width : 500px) {
            width: 266px;
        }

        @media(max-width : 400px) {
            margin-bottom: 40px;
        }
    }

    &__container::after {
        content: '';
        position: absolute;
        width: 976px;
        height: 27px;
        background-color: #404950;
        z-index: -99;
        left: calc(50% - 488px);

        @media(max-width : 1050px) {
            left: calc(50% - 406px);
            width: 812px;
        }

        @media(max-width : 850px) {
            left: calc(50% - 304px);
            width: 600px;
        }

        @media(max-width : 635px) {
            left: calc(50% - 221px);
            width: 444px;
        }

        @media(max-width : 500px) {
            left: calc(50% - 154px);
            width: 300px;
            height: 16px;
        }

        @media(max-width : 400px) {
            left: calc(50% - 145px);
            width: 290px;
            height: 16px;
        }
    }

    &__container::before {
        content: '';
        position: absolute;
        width: 915px;
        height: 3px;
        background: #72828E;

        @media(max-width : 1050px) {
            width: 785px;
        }

        @media(max-width : 850px) {
            width: 522px;
        }

        @media(max-width : 635px) {
            width: 399px;
        }

        @media(max-width : 500px) {
            width: 263px;
        }
    }

    &__price--active {
        color: #FE9013;
    }

    &__circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: yellow;

        position: relative;

        @media(max-width : 500px) {
            width: 5px;
            height: 5px;
        }
    }

    &__circle::before {
        content: "";
        width: 50px;
        left: -19px;
        top: -19px;
        position: absolute;
        z-index: 999;
        height: 50px;
        border-radius: 50%;
        background: transparent;
        cursor: pointer;
    }

    &__circle-active::before {
        content: "";
        top: -8px;
        left: -7px;
        position: absolute;
        width: 25px;
        height: 25px;
        border: 2px solid #FE9013;
        border-radius: 50%;
        background: transparent;

        @media(max-width : 500px) {
            width: 11px;
            height: 11px;
            top: -3px;
            left: -3px
        }
    }

    &__circle-active::after {
        content: "";
        top: -15px;
        left: -15px;
        position: absolute;
        width: 42px;
        height: 40px;
        border: 2px solid #FE9013;
        border-radius: 50%;
        background: transparent;

        @media(max-width : 500px) {
            width: 21px;
            height: 21px;
            top: -8px;
            left: -8px;
        }

    }


    &__item {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;
        cursor: pointer;


    }

    &__item:first-child {
        @media(max-width: 1050px) {
            display: none;
        }

    }

    &__item:nth-child(2) {
        @media(max-width : 850px) {
            display: none;
        }
    }

    &__item:nth-child(3) {
        @media (max-width : 640px) {
            display: none;
        }
    }

    &__item>p {
        position: absolute;
        bottom: -58px;
        font-size: 26px;
        line-height: 140%;

        @media(max-width : 1050px) {
            left: -10px;
        }

        @media(max-width : 500px) {
            font-size: 13px;
            line-height: 18px;
            bottom: -27px;
        }
    }
}

.burger__menu {
    display: none;

    &>span {
        display: block;
        width: 18px;
        height: 2px;
        background-color: #fff;


    }

    &-center {
        margin: 2px 0;
    }

    @media (max-width : 778px) {
        display: block;
    }

}

.header {
    position: absolute;
    background-color: $black;
    width: 100%;
    color: $white;
    z-index: 999;

    @media (max-width : $desctop) {
        z-index: 99;
    }

    @media (max-width : $tablet) {
        font-size: 12px;
        line-height: 14px;
    }

    @media (max-width : $mobile) {
        top: 0;
    }

    &__logo {
        margin-right: 67px;
        color: $white;


    }

    &__logo>h1,
    .header__logo p {
        @media (max-width : $tablet) {
            font-size: 12px;
            line-height: 14px;
        }
    }


    &__box {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @media (max-width : $desctop) {

            padding: 0 20px;
        }

        @media (max-width : $tablet) {

            padding: 0 10px;
        }

        @media (max-width : $mobile) {

            padding: 0;
        }
    }

    &__menu {
        display: flex;
        justify-content: flex-start;
        @extend %Roboto-500;
        width: 100%;

        @media (max-width : 778px) {
            display: none;
        }

    }

    &__menu--burger {
        @media (max-width : $tablet) {
            display: block;
            color: #333B41;
        }

    }

    &__nav {
        width: 100%;
    }

    &__nav--burger {


        width: 100%;
        background-color: #fff;
        min-height: 320px;
        color: red;
        position: absolute;
        border: 1px solid red;
        left: 0px;
        top: 0;
        display: none;
    }

    &__item {
        padding: 26px 0;
    }



    &__item+.header__item {
        margin-left: 58px;

        @media (max-width : $desctop) {

            margin-left: 48px;
        }
    }

    &__link {
        color: $white;
        display: block;
        transition: all .5s;
    }

    &__link:not(.header__link-active):hover {
        color: #ffc3a8;

        transform: scale(1.1);
    }

    &__link-active {
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: default;

        padding-bottom: 5px;
    }

    &__item-last.header__item {
        margin-left: auto;
    }


}

.header.header__donate {
    position: static;
}

.logo {
    padding: 3px 4px;
    text-align: center;
    border: 1.18841px solid #FFFFFF;
    position: relative;
    max-width: 82px;
    color: $white;

    &__title,
    .logo__subtitle {
        @extend %Roboto-400;
        font-size: 19px;
        line-height: 23px;
    }

    &__burger {
        background-color: orange;

    }

    &::before {
        position: absolute;
        content: url(../images/logoImage.svg);
        left: 14px;
        bottom: 4px;

        @media (max-width : $tablet) {
            left: 6px;
            bottom: 2px;
            content: url(../images/logoImage-640.svg);
        }


    }

    @media (max-width : 778px) {
        border: 0;
    }

    @media (max-width : $tablet) {
        padding: 3px 0;
    }
}

.watchOnline {
    background-image: url(../images/header-bg.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width : $desctop) {

        height: 584px;
    }

    @media (max-width : $tablet) {

        height: 373px;
    }


    @media (max-width : 500px) {
        height: 305px;
    }

    @media (max-width : $mobile) {
        height: 187px;
        margin-top: 34px;
    }


    & a.ovalBtn {

        margin: 0 100px 100px 0;

        @media (max-width : $desctop) {
            margin: 0 111px 0 0;
        }

        @media (max-width : $tablet) {
            align-self: end;
            margin: 0 0 40px 10px;
        }


        @media (max-width : 500px) {
            margin: 0 0 75px 10px;
            ;
            align-self: auto;
        }

        @media(max-width : $mobile) {
            position: absolute;
            bottom: -74px;
            margin: 0;
        }

    }

    &__span {
        color: $yellow;
        letter-spacing: -5px;
        position: relative;
        right: 10px;

        @media (max-width : $tablet) {

            right: 20px;
            letter-spacing: -3px;
        }

        @media (max-width : $mobile) {

            right: 11px;
            letter-spacing: 0;
        }


    }

    &__box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        padding-top: 170px;
        align-items: flex-end;

        @media (max-width : $desctop) {
            padding-top: 124px;
            padding-right: 11px;
        }

        @media (max-width : $tablet) {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            height: 373px;
            align-items: center;

        }

        @media (max-width : 500px) {
            flex-direction: column;
            padding-top: 60px;
        }

        @media (max-width : $mobile) {
            padding: 0;
            height: 100%;
        }



    }

    &__title {
        @extend %Roboto-700;
        color: $white;
        font-size: 106px;
        line-height: 75%;
        max-width: 493px;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 58px;
        position: relative;
        z-index: 1;

        @media (max-width : $desctop) {
            font-size: 85px;
            line-height: 63px;
            padding-right: 30px;
            padding-bottom: 42px;
        }

        @media (max-width : $tablet) {
            font-size: 54px;
            line-height: 40px;
            // padding-right: 30px;
            // padding-bottom: 42px;
            max-width: 206px;
            padding: 0;
            margin: 0 19px 129px 0;
            text-align: center;
        }

        @media (max-width : 500px) {
            font-size: 35px;
            line-height: 25px;
            margin: 0;
            align-self: end;
        }

        @media (max-width : $mobile) {
            font-size: 27px;
            line-height: 21px;
            // max-width: 107px;
            max-width: 114px;
            margin: 42px 12px 0 0;
        }
    }



    &__title::before {
        content: "";
        width: 465px;
        border-radius: 50%;
        position: absolute;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        height: 465px;
        z-index: -1;
        top: -77px;
        left: -79px;

        @media (max-width : $desctop) {
            width: 367px;
            height: 367px;
            top: -54px;
            left: -29px;
        }


        @media (max-width : $tablet) {
            width: 237px;
            height: 237px;
            top: -40px;
            left: -63px;
        }

        @media (max-width : 500px) {
            width: 180px;
            height: 180px;
            left: -30px;
        }

        @media (max-width : $mobile) {
            width: 119px;
            height: 119px;
            left: -30px;
            top: -19px;
        }
    }



}

.theBackstage {
    margin-top: 140px;
    position: relative;


    @media (max-width : $desctop) {

        margin-top: 108px;
    }

    @media(max-width : 640px) {
        margin-top: 60px;
    }

    @media(max-width : 320px) {
        margin-top: 106px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
    }

    &__img-desctop {
        display: none;
    }

    &__img {
        margin-right: 87px;
        max-height: 403px;

        @media(max-width :1179px) {
            margin-right: 15px;
        }

        @media (max-width : 1100px) {
            &-main {
                display: none;
            }

            &-desctop {
                display: block;
                max-width: 454px;
                margin: 0 30px 0 23px;
                max-height: 409px;
            }
        }


        @media(max-width :901px) {
            &-desctop {
                display: none;
            }

        }
    }

    &__title {
        margin-bottom: 20px;
        @extend %Roboto-400;

        @media (max-width : $desctop) {

            margin-bottom: 12px;
        }

        @media (max-width : 990px) {
            font-size: 40px;
        }

        @media(max-width : 640px) {
            font-size: 48px;
            margin-bottom: 19px;
        }

        @media(max-width : 630px) {
            font-size: 34px;
            max-width: 80%;
        }

        @media(max-width : 426px) {
            max-width: 100%;
        }

        @media(max-width : 350px) {
            font-size: 24px;
            line-height: 28px;
        }

        @media(max-width : 320px) {
            margin-bottom: 8px;
        }

    }

    &__subtitle {
        margin-bottom: 34px;
        font-weight: 400;

        @media (max-width : $desctop) {
            margin-bottom: 31px;
        }

        @media(max-width : 640px) {
            margin-bottom: 18px;
        }

        @media(max-width : 320px) {
            margin-bottom: 7px;
        }
    }

    &__path {
        margin-bottom: 54px;

        @media (max-width : 640px) {
            margin-bottom: 31px;
        }

        @media(max-width : 320px) {
            margin-bottom: 20px;
        }
    }

    &-decor-mobile {
        display: none;

        @media(max-width : 600px) {
            display: block;
            position: absolute;
            right: 0;
            top: -68px;
        }
    }

    &-decor-tablet {
        display: none;
        position: absolute;
        right: 0;
        top: 0;

        @media(max-width:640px) {
            display: block;
            top: -65px;
        }

        @media(max-width:600px) {
            display: none;
        }
    }

    &-decor {
        position: absolute;
        right: 0;
        top: -128px;

        transition: all 2s;

        @media(max-width : 1477px) {
            display: none;
        }

        @media(max-width :901px) {
            display: block;
            top: -55px;
        }

        @media(max-width:640px) {
            display: none;
        }
    }

    &__text {
        max-width: 446px;

        @media (max-width : $desctop) {

            max-width: 439px;
        }

        @media (max-width : 990px) {
            max-width: 439px;
        }

        @media(max-width : 640px) {
            max-width: 467px;
        }

        @media(max-width : 600px) {
            max-width: 310px;
        }

        @media(max-width : 320px) {
            max-width: 287px;
        }
    }

    &__info {
        @media (max-width : 990px) {
            max-width: 439px;
        }

        @media(max-width : 640px) {
            max-width: 100%;
            margin-left: 12px;
        }

        @media(max-width : 320px) {
            margin-left: 0;
        }
    }

}


.pets {
    margin-top: 120px;
    position: relative;


    @media (max-width :1000px) {
        margin-top: 88px;
    }

    @media (max-width :640px) {
        margin-top: 47px;
    }

    @media(max-width : 320px) {
        margin-top: 18px;
    }

    &__gallery {

        margin-bottom: 86px;
        justify-content: center;
        max-width: 1591px;
        display: flex;
        flex-wrap: wrap;
        gap: 29px 37px;

        @media(max-width : 1355px) {
            gap: 90px 30px;
        }

        @media(max-width : 1000px) {
            margin-bottom: 83px;
        }

        @media(max-width : 600px) {
            gap: 30px;

        }

        @media(max-width :640px) {
            margin-bottom: 61px;
        }

        @media(max-width : 320px) {
            gap: 20px;
            justify-content: flex-start;
            margin-bottom: 17px;
        }

    }

    &__gallery-main__box {
        position: relative;
        // width: 1160px;
    }


    &__gallery-box {
        overflow: hidden;
        position: relative;
        padding: 0 1px;


    }

    &__gallery-item__title {
        text-transform: uppercase;
        letter-spacing: 1px;

        @media(max-width : 850px) {
            font-size: 12px;
            line-height: 17px;
        }
    }

    &__gallery-item:nth-last-child(-n+2) {
        @media(max-width :640px) {
            display: none;
        }



    }

    &__gallery-item {
        border-radius: 7px;
        position: relative;
        cursor: pointer;
        flex-basis: 31%;

        @media(max-width : 1179px) {
            // max-width: 294px;
            // max-height: 354px;
        }

        @media(max-width : 1000px) {
            flex-basis: 30%;
        }

        @media(max-width : 640px) {
            flex-basis: 47%;

            display: flex;
            flex-direction: column;
            max-height: 333px;
        }

        @media(max-width : 600px) {
            flex-basis: 55%;
        }

        @media(max-width : 320px) {
            flex-basis: 95%;
        }
    }

    &__gallery-img__box {
        overflow: hidden;
        position: relative;
        transition: opacity 3s;
    }

    &__gallery-item:hover .pets__gallery-img__box::before {
        opacity: 1;
    }

    &__gallery-img__box::before {
        content: '';
        position: absolute;
        background: rgba(0, 0, 0, 0.665);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        opacity: 0;
        transition: all 1s;
    }

    &__gallery-item:hover .pets__gallery-img__text {
        transform: translateY(-200px);
    }

    &__gallery-item:hover .pets__gallery-item__img {
        border-radius: 5px 5px 0px 0px;
        transform: matrix(1.20, 0.00, 0.00, 1.20, 0, 0);
        transition: all 1.5s;
    }

    &__gallery-item__img {
        border-radius: 5px 5px 5px 5px;
        transition: transform .8s;
        position: relative;
    }

    &__gallery-img__text {
        position: absolute;
        color: #fff;
        transition: all 1s;
        z-index: 9999;
        padding: 0 10px;
    }

    &__gallery-item__subtitle {
        font-family: 'Roboto';

        font-weight: 300;
        font-size: 15px;
        line-height: 120%;

        @media(max-width : 850px) {
            font-size: 11px;
            line-height: 14px;
        }
    }

    &__btn {
        margin: 0 auto 100px;

        @media(max-width : 1000px) {
            margin: 0 auto 140px;
        }

        @media(max-width : 640px) {
            margin: 0 auto 98px;
        }

        @media(max-width : 320px) {
            margin: 0px auto 59px;
        }

    }

    &__gallery-item::before {
        content: "";
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        border-radius: 5px;
        z-index: -10;
        transition: all 1s;
    }



    &__galerry-item__info {
        padding: 7px 58px 12px 14px;
        position: relative;
        z-index: -5;
        background-color: $white;
        border-radius: 0 0 5px 5px;

        @media(max-width : 640px) {
            padding: 4px 58px 4px 14px;
        }

        @media(max-width : 850px) {
            padding: 7px 0px 12px 14px;
        }
    }

    &__galerry-item__info::before {
        right: 11px;
        top: 10px;
    }

    &__galerry-item__info[data-food="vegan"]::before {
        content: url(../images/vegan.svg);
        position: absolute;
    }

    &__galerry-item__info[data-food="meat"]::before {
        content: url(../images/meat.svg);
        position: absolute;
    }

    &-decor {
        position: absolute;
    }

    &-decor-1 {
        left: 0px;
        bottom: -100px;

        @media(max-width : 1599px) {
            display: none;
        }
    }

    &-decor-1--desctop {
        display: none;
        position: absolute;
        left: 0;
        bottom: -100px;

        @media(max-width : 1599px) {
            display: block;
            // bottom: -100px;
        }

        @media(max-width : 1000px) {
            bottom: -140px;
        }

        @media(max-width : 640px) {
            display: none;
        }
    }

    &-decor-2 {
        right: 0;
        bottom: -100px;

        @media(max-width : 1599px) {
            display: none;
            bottom: -100px;
        }
    }

    &-decor-2--desctop {
        display: none;
        position: absolute;
        right: 0;
        bottom: -100px;

        @media(max-width : 1599px) {
            display: block;
        }

        @media(max-width : 1000px) {
            bottom: -140px;
        }

        @media(max-width : 640px) {
            display: none;
        }
    }


    &-decor-1--640 {
        position: absolute;
        display: none;

        @media(max-width : 640px) {
            display: block;
            bottom: -98px;
            left: 0;
        }

        @media(max-width : 500px) {
            display: none;
        }
    }

    &-decor-2--640 {
        position: absolute;
        display: none;

        @media(max-width : 640px) {
            display: block;
            bottom: -98px;
            right: 0;
        }

        @media(max-width : 500px) {
            display: none;
        }
    }

    &-decor-1--320 {
        display: none;

        @media(max-width : 500px) {
            display: block;
            position: absolute;
            left: 0;
            bottom: -98px;
        }

        @media(max-width : 320px) {
            bottom: -59px;
        }
    }

    &-decor-2--320 {
        display: none;

        @media(max-width : 500px) {
            display: block;
            position: absolute;
            right: 0;
            bottom: -106px;
        }

        @media(max-width : 320px) {
            bottom: -64px;
        }
    }
}


.feedFriend {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding: 70px 0 100px;
    color: #333B41;


    @media (max-width : $desctop) {
        padding: 31px 0 48px;
    }

    @media (max-width : 999px) {
        &__container {
            padding: 0;
        }
    }

    @media(max-width : 640px) {
        padding: 23px 0 17px;
    }

    @media(max-width : 320px) {
        padding: 23px 0 21px;
    }

    &__container {
        padding: 0 10px;
    }

    &__box {
        border-radius: 20px;
        background: rgba(253, 253, 255, 0.52);
        backdrop-filter: blur(2px);
        padding-bottom: 60px;

        @media (max-width : $desctop) {
            // padding-bottom: 0px;
            max-width: 96%;
            padding-bottom: 50px;
            margin: 0 auto;
        }

        @media (max-width : 999px) {
            width: 100%;
            margin: 0;
            max-width: none;
        }

        @media(max-width : 640px) {
            padding-bottom: 59px;
        }

        @media(max-width : 320px) {
            padding-bottom: 39px;
        }

    }

    &__info-box {
        margin-left: 100px;

        @media (max-width : $desctop) {
            margin-left: 52px;

        }

        @media (max-width : 800px) {
            margin-left: 20px;
        }


        @media(max-width : 320px) {
            margin-left: 0;
        }
    }

    &__title {
        padding-top: 40px;
        color: #FE9013;
        @extend %Roboto-400;
        margin-bottom: 34px;
        text-align: center;

        @media (max-width : $desctop) {
            padding-top: 30px;
            margin-bottom: 23px;
        }

        @media(max-width : 999px) {
            font-size: 42px;
            line-height: 50px;
        }

        @media (max-width : 640px) {
            padding-top: 10px;
            margin-bottom: 20px;
        }

        @media(max-width : 320px) {
            font-size: 24px;
            line-height: 28px;
            padding-top: 18px;
            margin-bottom: 10px;
        }

    }

    &__title-2 {
        margin-bottom: 40px;
        text-align: center;
        @extend %Roboto-400;

        @media(max-width : 640px) {
            margin-bottom: 21px;
        }

        @media(max-width : 320px) {
            font-size: 24px;
            line-height: 28px;
        }
    }

    &__subtitle {
        margin-bottom: 37px;
        letter-spacing: -0.3px;

        @media (max-width : $desctop) {
            margin-left: 0px;
            margin-bottom: 18px;

        }

        @media(max-width : 999px) {
            font-size: 22px;
            line-height: 26px;

        }

        @media(max-width : 320px) {
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            margin-bottom: 25px;
        }
    }

    &__text {
        @extend %Roboto-500;
        text-align: left;
        margin-bottom: 8px;

        @media (max-width : $desctop) {
            margin-bottom: 6px;
            max-width: 88%;
        }

        @media(max-width :320px) {
            display: none;
        }
    }

    &__text-2 {
        @extend %Roboto-400;
        text-align: left;
        max-width: 863px;
        margin-bottom: 58px;

        @media (max-width : $desctop) {
            margin-bottom: 39px;
            max-width: 88%;
        }

        @media(max-width : 640px) {
            max-width: 98%;
            margin-bottom: 29px;
        }

        @media(max-width :320px) {
            display: none;
        }
    }

    &__btn {
        margin: 0 auto;
    }

    &__steps {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 60px;
        gap: 28px;

        @media (max-width : $desctop) {
            padding-bottom: 50px;
            margin-bottom: 70px;
            gap: 43px;
        }

        @media(max-width : 640px) {
            gap: 33px;
            margin-right: 13px;
            margin-bottom: 41px;
        }


        @media(max-width :560px) {
            flex-direction: column;

            align-items: center;
        }

        @media(max-width : 320px) {
            gap: 39px;
            margin-right: 0;
            margin-bottom: 38px;
        }
    }

    &__step:nth-child(1)::before {
        @media(max-width : 560px) {
            bottom: 50px;
        }

        @media (max-width : 320px) {
            bottom: 28px;
        }
    }

    &__step {

        text-align: left;
        position: relative;

        @media(max-width :320px) {
            max-width: 168px;
        }
    }

    &__step:nth-child(-n+2)::after {
        content: url(../images/peekFreind-arrow.svg);
        position: absolute;
        top: 24%;
        right: -97px;

        @media (max-width : 890px) {
            content: url(../images/peekFreind-arrow-640.svg);
            right: -55px;
            top: -17px;
            transform: rotate(1deg);
            z-index: 999;
        }


        @media (max-width : 640px) {
            content: url(../images/peekFreind-arrow-640.svg);
            right: -55px;
            top: -17px;
            transform: rotate(1deg);
            z-index: 999;
        }


        @media(max-width : 560px) {
            right: -64px;
            top: 173px;
            transform: rotate(83deg);
            z-index: 999;
        }

        @media(max-width : 320px) {
            right: -58px;
            top: 192px;
        }
    }

    &__step2 {
        margin: 0 -98px;

        @media (max-width : 1300px) {
            margin: 0px -4px 0 10px;
        }

        @media(max-width : 640px) {
            margin: 0;
        }

    }

    &__step-img1 {
        background-color: $white;
        padding: 54px 30px;



    }

    &__step-img {
        margin-bottom: 30px;
        border-radius: 5px;

        @media (max-width : 640px) {
            width: 168px;
            height: 168px;
        }

        @media(max-width : 320px) {
            margin-bottom: 7px;
        }
    }

    &__step::before {
        content: '';
        position: absolute;
        top: -2px;
        bottom: 72px;
        left: -2px;
        right: -2px;
        background: rgb(254, 210, 144);
        background: linear-gradient(135deg, rgba(254, 210, 144, 1) 70%, rgba(254, 210, 144, 1) 70%, rgba(254, 189, 171, 1) 100%);
        border-radius: 5px;
        z-index: -10;


        @media (max-width : 320px) {
            bottom: 49px;
        }
    }

    &__step-img2 {
        background-color: $white;
        padding: 38px 41px 35px 41px;

        @media (max-width : 664px) {
            padding: 38px 41px 43px 41px;
        }
    }

    &__step-img3 {
        background-color: $white;
        padding: 48px 21px;
    }

    &__step-text {
        max-width: 168px;
    }


    &__text-link {
        color: inherit;
        border-bottom: 1px solid #FE9013;
        padding-bottom: 5px;
    }

}

.feedFriend {
    color: #333B41;

    &__info-box-donate {
        @media(max-width : 640px) {
            margin-left: 0;
        }
    }

    &__info-box-donate {
        @media(max-width : 1000px) {
            margin-left: 0px;
        }

    }

    &-bg {
        width: 100%;
        margin-bottom: 40px;
        max-height: 386px;

        @media(max-width : 1000px) {
            display: none;
        }
    }


    &-bg-1000 {
        display: none;

        @media(max-width :1000px) {
            display: block;
            margin-bottom: 41px;
        }

        @media(max-width : 640px) {
            display: none;
        }
    }

    &-bg-640 {
        display: none;

        @media(max-width :640px) {
            display: block;
            margin-bottom: 31px
        }

        @media(max-width : 320px) {
            display: none;
        }
    }

    &-bg-320 {
        display: none;

        @media(max-width : 320px) {
            display: block;
            margin-bottom: 33px;
        }
    }

    &__text-box-donate {
        @media(max-width : 1000px) {
            margin: 0 20px;
        }

        @media(max-width : 640px) {
            margin: 0 10px;
        }

        @media(max-width : 400px) {
            margin: 0 0;
        }

    }

    &__pick {
        margin-bottom: 24px;
        padding-top: 37px;

        @media(max-width : 1000px) {
            margin-bottom: 12px;
            padding-top: 19px;
        }

        @media(max-width : 640px) {
            font-size: 48px;
            line-height: 57px;
            padding-top: 29px;
            margin-bottom: 24px;
        }

        @media(max-width : 400px) {
            font-size: 24px;
            line-height: 28px;
            padding-top: 23px;
            margin-bottom: 7px;
        }


    }

    &__title-donate {
        letter-spacing: -1.6px;
        margin-bottom: 10px;

        @media(max-width : 1000px) {
            // letter-spacing: 1.6px;
            max-width: 780px;
            margin-bottom: 29px;
        }

        @media(max-width : 640px) {
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -1px;
            margin-bottom: 19px;
        }
    }

    &-donate {
        padding: 0;
        color: $white;
        padding-bottom: 182px;

        @media(max-width : 1000px) {
            padding-bottom: 28px;
        }

        @media(max-width : 640px) {
            padding-bottom: 47px;
        }

        @media(max-width : 400px) {
            padding-bottom: 20px;
        }
    }

    &__text-donate {
        margin-bottom: 46px;
        max-width: 96%;
        font-size: 16px;

        // line-height: 22px;
        @media(max-width : 640px) {
            margin-bottom: 30px;
        }


    }

    &__donation-title {
        color: #FE9013;
        margin-bottom: 60px;

        @media(max-width : 1000px) {
            margin-bottom: 41px;
        }

        @media(max-width : 640px) {
            margin-bottom: 30px;
        }

        @media(max-width : 400px) {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 27px;
        }
    }

    &__donation-title span {
        letter-spacing: 1.5px;
    }

    &__box-donate {
        color: #333B41;

        @media(max-width : 1000px) {
            padding-bottom: 46px;
        }

        @media(max-width : 640px) {
            padding-bottom: 29px;
        }

        @media(max-width : 400px) {
            padding-bottom: 20px;
        }
    }

    &__diesForDay-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 41px;

        @media(max-width : 1000px) {
            gap: 80px;
            margin-right: 41px;
            margin-bottom: 46px;
        }

        @media(max-width : 640px) {
            gap: 78px;
            margin-right: 38px;
            margin-bottom: 35px;
        }

        @media(max-width : 635px) {
            gap: 10px;
        }

        @media(max-width : 500px) {
            gap: 40px;
        }

        @media(max-width : 400px) {
            margin-right: 0;
            gap: 47px;
            margin-bottom: 0;
        }
    }

    &__counter {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 174px;
        position: relative;
    }

    &__counter::before {
        content: "X";
        position: absolute;
        right: -18px;
        bottom: 39px;

        @media(max-width : 400px) {
            right: -6px;
            bottom: 22px;
        }
    }

    &__counter>p:last-child {
        @media(max-width : 500px) {
            font-size: 9px;
            line-height: 12px;
        }
    }


    &-number {
        font-size: 72px;
        line-height: 57px;
        margin-bottom: 10px;

        @media(max-width : 400px) {
            font-size: 40px;
            line-height: 32px;
        }
    }




    &__subtitle-donate {
        margin-bottom: 105px;
        margin-left: -50px;

        @media(max-width : 1000px) {
            margin-left: 56px;
        }

        @media(max-width : 640px) {
            max-width: 610px;
            letter-spacing: 1px;
            text-align: center;
            margin-left: 0;
        }

        @media(max-width : 400px) {
            font-size: 16px;
            line-height: 22px;
            letter-spacing: normal;
            margin-bottom: 37px;
        }
    }

    &__diesImg {
        margin-left: 82px;
        margin-right: 137px;

        @media(max-width : 1000px) {
            margin: 0;
        }

        @media(max-width : 500px) {
            display: none;
        }
    }

    &__diesImg-320 {
        display: none;

        @media (max-width : 500px) {
            display: block;
        }
    }
}



.testimonials {
    font-size: 15px;
    line-height: 18px;
    position: relative;
    color: #767474;


    &__title {
        padding: 139px 0 35px;
        letter-spacing: 1.1px;
        text-align: center;


        @media (max-width : $desctop) {
            padding: 103px 0 16px;

        }


        @media(max-width : 640px) {
            padding: 62px 0 22px;
        }


        @media(max-width : 320px) {
            font-size: 24px;
            line-height: 28px;
            padding: 31px 0 12px;
            letter-spacing: normal;
        }
    }

    &__item {
        background: #fff;
        width: 267px;
        padding: 16px 15px 17px 16px;
        position: relative;
        border-radius: 20px;
        display: inline-block;
        white-space: normal;
        flex-basis: 25%;
        margin: 15px 11px;
        cursor: pointer;
        @media (max-width : $desctop) {
            flex-basis: 33%;
            margin: 14px 20px;

        }

        @media(max-width : 800px) {
            width: 96%;
            height: -3%;
            max-height: 109px;
        }

        @media(max-width : 640px) {
            max-height: 109px;
            margin: 9px 11px;
            padding: 16px 14px 7px 15px;
        }

        @media(max-width : 320px) {
            width: 98%;
            margin: 10px 5px;
            padding: 8px 8px 14px 10px;
        }
    }


    &__item:nth-child(2) {
        @media (max-width : 1000px) {
            display: none;
        }
    }



    &__item::before {
        content: '';
        position: absolute;
        background: rgb(254, 189, 171);
        background: linear-gradient(305deg, rgba(254, 189, 171, 1) 35%, rgba(243, 169, 248, 1) 66%, rgba(224, 216, 240, 1) 100%, rgba(234, 247, 254, 1) 100%, rgba(234, 247, 254, 1) 100%);
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        z-index: -10;
        border-radius: 20px;
    }

    &__head {
        display: flex;
        margin-bottom: 10px;
    }

    &__avatar {
        margin-right: 10px;

    }

    &__name {
        display: block;
    }

    &__location {
        display: inline-block;
    }

    &__date {
        display: inline-block;
    }

    &__text {
        height: 309px;
        overflow: hidden;

        @media(max-width : 800px) {
            height: 35px;
        }
    }

    &__box {
        white-space: nowrap;
        margin-bottom: 10px;
        display: flex;
        gap: 15px;
        overflow: hidden;

        @media(max-width : 1000px) {
            gap: 0;
            margin-bottom: 7px;
        }

        @media(max-width : 800px) {
            flex-direction: column;
        }
    }

    input[type=range] {
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 600px;
        height: 8px;
        position: relative;
        border-radius: 5px;
        display: block;
        margin: 0 auto 32px;
        cursor: pointer;


        @media (max-width : $desctop) {
            width: 390px;
            margin: 0 auto 52px;
        }

        @media (max-width : 640px) {
            display: none;
        }
    }

    input[type=range]::before {
        content: '';
        position: absolute;
        background: rgb(254, 189, 171);
        background: linear-gradient(305deg, rgba(254, 189, 171, 1) 35%, rgba(243, 169, 248, 1) 66%, rgba(224, 216, 240, 1) 100%, rgba(234, 247, 254, 1) 100%, rgba(234, 247, 254, 1) 100%);
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        z-index: -10;
        border-radius: 5px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 115px;
        height: 6px;
        background-color: #FE9013;
        border-radius: 5px;

        @media (max-width : $desctop) {
            width: 75px;
        }

    }

    input[type=range]::-moz-range-track {
        -moz-appearance: none;
        width: 600px;
        height: 8px;
        position: relative;
        border-radius: 5px;
        display: block;
        margin: 0 auto 32px;
    }


    input[type=range]::-moz-range-thumb {
        -moz-appearance: none;
        width: 115px;
        height: 6px;
        background-color: #FE9013;
        border-radius: 5px;
    }

    &__btn {
        border-radius: 5px;
        margin-bottom: 177px;

        @media (max-width : $desctop) {

            margin: 0 0 140px 21px;
        }

        @media (max-width : 640px) {
            max-width: 235px;
            margin: 36px auto 80px;
        }


        @media(max-width : 320px) {
            margin: 22px auto 60px;
        }

    }

    &__decor-desctop {
        display: none;

        @media (max-width : $desctop) {
            display: block;
            position: absolute;
            right: 0;
            bottom: -226px;
        }

        @media (max-width : 640px) {
            display: none;
        }

    }

    &__decor-640 {
        position: absolute;
        display: none;

        @media (max-width : 640px) {
            right: 0;
            bottom: -150px;
            display: block;
        }

        @media(max-width :450px) {
            display: none;
        }
    }

    &__decor-320 {
        position: absolute;
        display: none;

        @media (max-width : 450px) {
            right: 0;
            bottom: -89px;
            display: block;
        }
    }

    &__decor {
        position: absolute;
        bottom: -308px;
        right: 0;

        @media (max-width : $desctop) {
            display: none;
        }
    }
}


.social {
    &__item {
        display: flex;
        flex-direction: column;

    }

    &__item+.social__item {
        margin-top: 10px;

        @media(max-width : 600px) {
            margin-top: 0;
        }
    }

    &__items {

        @media(max-width : 640px) {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        @media(max-width : 600px) {
            flex-direction: row;
        }

        @media(max-width : 320px) {
            gap: 31px;
        }

    }

    &__text {
        transition: all .5s;

        @media(max-width : 640px) {
            display: none;
        }
    }

    &__item-svg {
        margin-right: 14px;

        @media(max-width : 320px) {
            margin-right: 0;
        }
    }

    &__item:hover .social__text {
        color: green;
    }

    &__item:hover svg circle {
        fill: green;
        transition: all .5s;
    }

    &__link {
        display: flex;
        align-items: center;
    }


}

.donate__form {
    margin: 0 auto;
    max-width: 300px;
    text-align: center;

    &-input {
        width: 268px;
        height: 54px;
        border: 1px solid #929699;
        border-radius: 2px;
        margin-bottom: 25px;
        position: relative;
        background: transparent;

        @media(max-width : 640px) {
            width: 180px;
            height: 42px;
            margin-bottom: 32px;
        }

        @media(max-width : 400px) {
            margin-bottom: 25px;
        }
    }

    &-input::placeholder {
        padding-left: 10px;
    }

    &-input-box {
        margin-bottom: 31px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        @media(max-width : 400px) {
            margin-bottom: 27px;
        }
    }

    &-input__label--number {
        position: relative;
    }

    &-input__label--number::before {
        content: url(../images/dollar.svg);
        position: absolute;
        z-index: 99;
        top: 0;
        right: 10px;
    }

    &-btn {
        margin-bottom: 30px;
    }

    &-radio__input {
        display: none;
    }

    &-input__label {
        position: relative;
        cursor: pointer;
    }

    &-input__label::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        background: transparent;
        border: 1px solid #FE9013;
        border-radius: 50%;
        left: -23px;
        top: 0;
    }

    &-radio__input:checked+.donate__form-input__label::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        left: -23px;
        top: 0px;
        background: #4B9200;

        border-radius: 50%;
    }



}


.footer {
    background-color: #111115;
    padding: 40px 0 50px;



    @media(max-width :640px) {
        padding: 13px 0 61px;
    }


    @media(max-width : 320px) {
        padding: 17px 0 61px;
    }


    &__box-donate.footer__box {
        @media(max-width :1000px) {
            padding: 0px 13px 0 22px;
        }

        @media(max-width : 640px) {
            padding: 0px 0px 0px 12px;
        }

        @media(max-width : 400px) {
            padding: 0px 0px 0px 0px;
        }
    }

    &__form-donate {
        @media(max-width : 1000px) {
            margin-right: 12px;
        }

    }

    &__logo {
        border: 1px solid #fff;

        @media(max-width : 600px) {
            display: flex;
            border: 0;
            justify-content: center;
        }
    }

    &__logo::before {
        @media(max-width : 600px) {
            left: 51px;
            bottom: 8px;
        }
    }



    &__item:not(.footer__item-active):hover {
        color: #ffc3a8;
        transform: scale(1.1);
    }


    &__link-active {
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: default;

        padding-bottom: 5px;
    }

    a {
        color: inherit;
    }



    &__btn {
        border-radius: 5px;
        margin-bottom: 45px;

        @media (max-width : 600px) {
            margin-bottom: 0;
        }
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: #FFFFFF;

        @media(max-width : 1000px) {
            padding: 0px 13px 0 35px;
        }

        @media(max-width : 640px) {
            padding: 0px 0px 0 12px;
            gap: 20px;
        }

        @media(max-width : 600px) {
            flex-direction: column;
            position: relative;
            align-items: center;
        }

        @media(max-width : 320px) {
            padding: 0;
            gap: 27px;
        }
    }

    &__logo-box {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        align-items: flex-start;
        gap: 67px;

        @media(max-width : 640px) {
            gap: 29px;

        }

        @media(max-width : 600px) {
            gap: 75px;
            align-items: center;
        }


        @media(max-width : 320px) {
            gap: 83px;
        }
    }

    &__form-box {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 14px;
        width: 50%;

        @media(max-width : 1000px) {
            margin-right: 26px;
        }

        @media(max-width : 840px) {
            display: none;
        }
    }

    &__social-box {
        display: flex;
        width: 26%;

        @media(max-width : 1000px) {
            width: 25%;
        }


        @media(max-width : 640px) {
            justify-content: flex-end;
        }

        @media(max-width : 600px) {
            justify-content: center;
            position: absolute;
            top: 55px;
        }
    }


    &__menu-box {
        display: flex;
        width: 37%;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 58px;

        @media(max-width : 1000px) {
            width: 38%;
            gap: 50px;
        }

        @media(max-width : 950px) {
            gap: 40px;
            width: 45%;
        }

        @media(max-width:750px) {
            gap: 20px;
        }

        @media(max-width : 640px) {
            width: 55%;
            gap: 38px;
        }

        @media(max-width : 600px) {
            order: 1;
            width: 100%;
            justify-content: center;
        }

        @media(max-width :320px) {
            gap: 31px;
        }
    }

    &__design-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 10px;
        align-items: flex-end;

        @media(max-width :320px) {
            width: 100%;
        }
    }

    &__form-title {
        margin-bottom: 14px;
        letter-spacing: -1px;
        margin-left: 8px;

        @media(max-width : 1000px) {
            margin-right: 25px;
        }
    }

    &__form-btn-default {
        width: 129px;
        height: 42px;
        border: 1px solid $black;
        color: $black;
        border-radius: 5px;
        cursor: pointer;
    }

    &__form-btn {
        width: 129px;
        height: 42px;
        border: 1px solid $red;
        color: $red;
        border-radius: 5px;
        cursor: pointer;
    }





    &__form-title {
        margin-bottom: 14px;
        letter-spacing: -1px;
        margin-left: 8px;
    }

    &__form-email__label {

        position: relative;
        padding: 5px;
        background-clip: padding-box;
        border-radius: 5px;
        background: transparent;
    }

    &__form-email__input {
        width: 228px;
        height: 42px;
        background-color: #111115;
        z-index: 30;
        border: 0;
        position: relative;
        border-radius: 2px;
        color: $white;
        padding: 10px 7px 10px 10px;
        border: 2px solid transparent;
        outline: 0;
        outline-offset: 0;
        margin-left: 5px;
    }

    .footer__form>label>input:focus .footer__form>label::before {
        background: red;
        color: red;
    }

    &__design-box:hover>p {
        color: green;
        transition: all .5s;
        cursor: pointer;
    }

    &__form-email__input::placeholder {
        padding: 10px 7px 10px 0px;
    }

    &__form-email__label-inactive::before {
        content: "";
        position: absolute;
        top: -8px;
        right: 8px;
        bottom: -9px;
        left: 9px;
        background: rgb(249, 128, 75);
        background: linear-gradient(305deg, rgba(249, 128, 75, 1) 100%, rgba(254, 144, 19, 1) 100%);
        z-index: 11;
        border-radius: 2px;
    }

    &__form-email__label-focused::before {
        content: "";
        position: absolute;
        top: -8px;
        right: 8px;
        bottom: -9px;
        left: 9px;
        background: #4B9200;
        z-index: 11;
        border-radius: 3px;
    }



}

.popup {
    position: fixed;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.692);
    display: flex;
    align-items: center;
    justify-content: center;
    &__wrapper {
        background-color: #fff;
        border-radius: 3px;
        width: 320px;
        height: 428px;
        position: relative;
        z-index: -999;
        position: relative;
    }

    &__close{
        position: absolute;
        right: 17px;
        top: 17px;
        cursor: pointer;
    }
    &__box {
        margin: 20px 17px;
    }

    &__item {
        cursor: default;
    }
}














input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 0;
}

.amount {
    margin-bottom: 24px;

    @media(max-width : 1000px) {
        margin-left: 70px;
        margin-bottom: 18px;
    }

    @media(max-width : 640px) {
        margin-left: 20px;
        margin-bottom: 7px;
    }
}

input[type=number] {
    -moz-appearance: textfield;
}



@import "media";